<!--
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>
-->
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>

<body class="mt-2">
  <div class="resume-wrapper text-center position-relative p-3 pb-0">
    <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg rounded">
        {% include navigation.html %}
    </div>
  </div>
    <article class="resume-wrapper text-center position-relative p-3">
	    <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
		    <div class="resume-body p-5">
          <!-- SUMMARY  SECTION -->
			    <section class="resume-section summary-section mb-5">
				    <!--<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>-->
				    <div class="resume-section-content">
					   {{ content }}
				    </div>
			    </section><!--//summary-section-->
          <!-- SUMMARY SECTION -->
		    </div><!--//resume-body-->
	    </div>
    </article>

{% include footer.html %}
</body>
</html>
